body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FBFBFF;

}
#main-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
#left-content{
    width: 250px;
    box-shadow: 0 0 10px #00eeff;
    display: flex;
    flex-direction: column;
    background-color: #FBFBFF;
}
.user-info{
    display: flex;
    height: 50px;
    gap: 10px;
    font-size: 14px;
    padding: 20px;
    box-shadow: 0 0 5px 0 #4ECDC4;
    background-color: #FBFBFF;
    
}
.user-logo{
    width: 50px;
    height: 50px;
    background: #0A2463;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email span {
  display: block;
   color: black;
   
}
#inner-name{
  font-weight:600;
  font-size: 14px;
  line-height: 1.9;
}
#inner-email{
  font-size: 12px;
  color:black;
}
.dash{
    color: black;
    font-size: small;
    font-weight: lighter;
    margin: 20px;
    margin-bottom: 10px;
}
.nav{
    display: flex;
    flex-direction: column;
    
}
.nav > div{
    width: 70%;
    margin-left: 20px;
    text-align: left;
    padding: 10px 20px;
    font-size: small;
    color: black;
    border-radius: 10px;
    margin-bottom: 5px;
     

}
.nav > div:hover{
   
    border: 1px solid #4ECDC4;
   background-color: #F1F3F4;
    cursor: pointer;
}
.action{
    border: 1px solid #4ECDC4;

    background-color: #F1F3F4;
}
#main-content{
    width: 100%;
    overflow: hidden;
}
.top-container{
    flex:1;
}
.bottom-container{
    margin: 20px;
}
.heading{
    display: flex;
    width: 100%;
    background-color: #0A2463;
    padding: 20px;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #00c4cc;
    border-top:3px solid #4ECDC4;
    border-radius: 30px;
    padding: 20px;
    margin: 30px 50px 0px 20px;
    
}
h2 {
    font: 20px;
    font-weight: 700;
    font-style: bold;
    margin-top: 0;
}

.section {
    margin-bottom: 20px;
}

h3 {
    color: #000000;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: semibold;
    font-size: 16px;
}

p {
    color: #000000;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    margin: 5px 0;
}

.preference-box, .activity-box {
    display: flex;
    gap: 20px;
    border-radius: 15px;
}

.box {
    flex: 1;
    background: #F1F3F4;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #4ECDC4;
}

.email-notifications, .security-alerts {
    background: #F1F3F4;
    border-radius: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
    border: 1px solid #4ECDC4;
    accent-color: #4ECDC4;
    width: 18px;
    height: 18px;
    cursor: pointer;
   
}